* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#login {
    width: 650px;
    background-color: rgb(22, 149, 233);
    display: flex;
    align-items: center;
    flex-direction: column;
}

section {
    display: flex;
    height: 100vh;

}

.mainsection {
    align-items: center;
    background-color: beige;
    width: 700px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sectionlogin {
    height: 8vh;
    margin-bottom: 8px;
    width: 300px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    justify-content: space-around;
}

#container {
    height: 9vh;
    width: 300px;
     margin-bottom: 8px;
    background-color: rgb(30, 171, 226);
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    align-items: center;
}

.container2 {
    text-decoration: none;
    font-size: small;
    text-transform: capitalize;
}